* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
  background: #E9EBEE;
}

span {
  color: #4267B2;
  font-weight: bold;
}

#wrapper {
  margin: 30px auto 0px;
  max-width: 1024px;
}

nav {
  background: #4267B2;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1024px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin: 0px 5px;
}

nav ul li a {
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background: #385898;
}

header {
  text-align: center;
  padding: 50px;
}

header h1 {
  color: #4267B2;
}

header h2 {
  font-weight: lighter;
  font-size: 24px;
  color: #4267B2;
}

#quote {
  padding-top: 30px;
}

#quote p {
  font-style: italic;
  font-size: 18px;
}

#quote p span {
  display: block;
}

section {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 200px;
  border-top: 5px solid #4267B2;
}

section h2 {
  color: #4267B2;
}

section p {
  margin-top: 20px;
  color: #444340;
}

section .section-content {
  padding: 50px;
  background: #ffffff;
  width: calc(100% - 400px);
  margin: 0 auto;
}

#introduction {
  background-image: url("../img/introduction.png");
}

#about-me {
  background-image: url("../img/about-me.png");
}

#about-me #photo-me {
  float: right;
  margin: 10px;
}

#contact-me {
  background-image: url("../img/contact-me.png");
}

#contact-me form {
  text-align: center;
}

#contact-me form label {
  display: block;
  margin: 10px;
  color: #4267B2;
  font-weight: bold;
}

#contact-me form input {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 400px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding: 10px;
  border: 2px solid #4267B2;
}

#contact-me form input[type=submit] {
  width: 200px;
  height: 40px;
  padding: 10px;
  background: #4267B2;
  color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#contact-me form textarea {
  width: 100%;
  max-width: 400px;
  min-height: 100px;
  margin-bottom: 20px;
  resize: vertical;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding: 10px;
  border: 2px solid #4267B2;
}

footer {
  color: #ffffff;
  background: #4267B2;
  text-align: center;
  padding: 10px;
}

footer p span a {
  color: #ffffff;
}

#social, #social-footer {
  border-radius: 15px;
}

#social a img, #social-footer a img {
  margin-top: 20px;
  width: 30px;
}

#social {
  padding: 15px;
  position: fixed;
  right: 10px;
  bottom: 300px;
  width: 42;
}

#social a img {
  margin-bottom: 15px;
  width: 50px;
}

#scroll {
  position: fixed;
  right: 15px;
  bottom: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #4267B2;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #385898;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

@media screen and (max-width: 850px) {
  section .section-content {
    padding: 50px;
    background: #ffffff;
    width: calc(100% - 100px);
    margin: 0 auto;
  }
  #social {
    display: none;
  }
}

#under-construction {
  padding: 0px;
  border: 0px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #444340;
  font-size: 200%;
}

#under-construction h2 {
  font-size: 30px;
  margin-bottom: 80px;
}

#under-construction p {
  margin: 100px 0px 0px;
  padding: 0;
  font-size: 20px;
}

#under-construction .uc img {
  height: 50px;
  width: 50px;
}

.progress {
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.progress-wrap {
  background: #385898;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}
/*# sourceMappingURL=style.css.map */