/* TeX Gyre Termes, the Times-style serif the printed invitation is set in.
   GUST Font License; subset to Latin and Latin Extended, see
   public/fonts/tex-gyre-termes/README.md. */
@font-face {
  font-family: "TeX Gyre Termes";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/tex-gyre-termes/texgyretermes-regular.woff2") format("woff2");
}

@font-face {
  font-family: "TeX Gyre Termes";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/tex-gyre-termes/texgyretermes-italic.woff2") format("woff2");
}

@font-face {
  font-family: "TeX Gyre Termes";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/tex-gyre-termes/texgyretermes-bold.woff2") format("woff2");
}

@font-face {
  font-family: "TeX Gyre Termes";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/tex-gyre-termes/texgyretermes-bolditalic.woff2") format("woff2");
}
