#about-me {
    background-image: url("../img/section/about-me.png");
    .section-content {
        #photo-me {
            display: block;
            margin: 10px auto;
        }
    }
}

@media screen and (min-width: 550px) {
    #about-me {
        .section-content {
            #photo-me {
                float: right;
                margin: 10px;
            }
        }
    }
}
