#hobby{
    padding-top: 0px;

    img{
        max-width: 200px;
        max-height: 200px;
        display: block;
        margin: 0 auto;
    }

    h3{
        color: $main-color;
    }
    
    p{
        border-bottom: 2px solid $main-color;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}