footer{
    color: #ffffff;
    background: $main-color;
    text-align: center;
    padding: 10px;

    p{
        span{
            font-weight: bold;
            a{
                color: #ffffff;
            }
        }
    }
}