$main-color: #4267b2;
$secondary-color: #385898;
$text-color: #ffffff;

$nav-max-width: 1200px;

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $main-color;
    min-width: 300px;
    max-width: $nav-max-width;
    margin: 0 auto;
}

.nav-logo {
    a {
        text-decoration: none;
        display: inline;
    }
    img {
        width: 40px;
        margin: 0px 10px 0 20px;
        border-radius: 50%;
    }

    h1 {
        color: white;
    }
}

.nav-menu {
    list-style-type: none;
    background-color: $main-color;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.mobile {
    display: flex;
    justify-content: space-between;
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 799px) {
    nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: inline-block;
        }
        h1 {
            display: inline;
        }
    }

    .nav-menu {
        list-style-type: none;
        margin-top: 20px;
        display: none;

        a {
            padding: 10px 20px;
            text-decoration: none;
            display: block;
        }

        a:hover {
            background-color: $secondary-color;
        }
    }
    .nav-menu-btn {
        display: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        margin-right: 10px;
    }

    .menu-btn_burger,
    .menu-btn_burger::before,
    .menu-btn_burger::after {
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 3px;
    }

    .menu-btn_burger::before,
    .menu-btn_burger::after {
        content: "";
        position: absolute;
    }

    .menu-btn_burger::before {
        transform: translateY(-10px);
    }

    .menu-btn_burger::after {
        transform: translateY(10px);
    }

    #menu-toggle ~ .nav-menu {
        display: none;
    }

    #menu-toggle:checked ~ .nav-menu {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;

        .nav-logo,
        .nav-menu {
            display: flex;
            align-items: center;
        }

        .nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 20px;

            li {
                margin-left: 10px;
            }

            a:hover {
                font-weight: bold;
            }
        }

        .nav-menu-btn {
            display: none;
        }
    }
}
