* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
  background: #E9EBEE;
}

#wrapper {
  margin: 70px auto 0px;
  max-width: 1200px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4267b2;
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo a {
  text-decoration: none;
  display: inline;
}

.nav-logo img {
  width: 40px;
  margin: 0px 10px 0 20px;
  border-radius: 50%;
}

.nav-logo h1 {
  color: white;
}

.nav-menu {
  list-style-type: none;
  background-color: #4267b2;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 799px) {
  nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-logo img {
    display: inline-block;
  }
  .nav-logo h1 {
    display: inline;
  }
  .nav-menu {
    list-style-type: none;
    margin-top: 20px;
    display: none;
  }
  .nav-menu a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
  .nav-menu a:hover {
    background-color: #385898;
  }
  .nav-menu-btn {
    display: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-right: 10px;
  }
  .menu-btn_burger,
  .menu-btn_burger::before,
  .menu-btn_burger::after {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 3px;
  }
  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
  }
  .menu-btn_burger::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .menu-btn_burger::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  #menu-toggle ~ .nav-menu {
    display: none;
  }
  #menu-toggle:checked ~ .nav-menu {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  nav .nav-logo,
  nav .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 20px;
  }
  nav .nav-menu li {
    margin-left: 10px;
  }
  nav .nav-menu a:hover {
    font-weight: bold;
  }
  nav .nav-menu-btn {
    display: none;
  }
}

#quote {
  text-align: center;
  padding: 75px;
}

#quote p {
  font-style: italic;
  font-size: 24px;
}

#quote p span {
  margin-top: 10px;
  color: #4267B2;
  font-weight: bold;
  display: block;
}

#introduction {
  background-image: url("../img/section/introduction.png");
}

#about-me {
  background-image: url("../img/section/about-me.png");
}

#about-me .section-content #photo-me {
  display: block;
  margin: 10px auto;
}

@media screen and (min-width: 550px) {
  #about-me .section-content #photo-me {
    float: right;
    margin: 10px;
  }
}

#contact-me {
  background-image: url("../img/section/contact-me.png");
}

#social-footer {
  margin: 20px auto;
  text-align: center;
}

#social-footer a {
  text-decoration: none;
  margin: 5px;
}

#social-footer img {
  width: 40px;
}

#blogpost {
  background-image: url("../img/section/coding-blogpost.png");
}

section {
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 150px;
  border-top: 5px solid #4267B2;
}

section a {
  text-decoration: none;
  color: #4267B2;
}

section a:hover {
  text-decoration: underline;
}

section h2 {
  color: #4267B2;
  font-size: 30px;
}

section p {
  margin-top: 20px;
  color: #444340;
  font-size: 20px;
}

section .section-content {
  min-height: 400px;
  padding: 50px;
  background: #ffffff;
  margin: 0 auto;
}

@media screen and (min-width: 575px) {
  section {
    padding-top: 200px;
  }
}

@media screen and (min-width: 850px) {
  .section-content {
    width: calc(100% - 400px);
  }
}

footer {
  color: #ffffff;
  background: #4267B2;
  text-align: center;
  padding: 10px;
}

footer p span {
  font-weight: bold;
}

footer p span a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */